[Desktop Entry]
Version=1.0
Name=Instalar AlgaOS
GenericName=Instalador
Exec=algaos-installer
Icon=algaos-installer-logo
Terminal=true
Type=Application
